* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

header {
  background: #292929;
  position: sticky;
  top: 0;
  z-index: 10;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#shopping-cart {
  color: white;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-branding:hover {
  text-decoration: none;
  color: white;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}

#menu-links {
  position: relative;
  color: white;
  font-size: 17px;
}

#menu-links:after {
  color: white;
  display: flex;
  content: '';
  border-bottom: solid 3px violet;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%
}

#menu-links:hover:after {
  transform: scaleX(1);
  transform-origin: 0 50%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

@media(max-width:1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 5;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 5px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/*QUANTITY*/
#button-addon1 {
  z-index: 5;
}

/*DETAILS CONTENT*/
#pills-details-tab,
#pills-ingredients-tab,
#pills-serie-info-tab,
#pills-use-tab {
  color: black;
}

/*FOOTER*/
.bg-grey {
  background: #292929;
}

.logo-footer {
  margin-bottom: 40px;
}

footer {
  color: grey;
}

footer p,
footer a {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

footer h6 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 40px;
  position: relative;
}

footer h6:hover {
  color: violet;
}

footer h6:after {
  position: absolute;
  content: "";
  background: violet;
  width: 50%;
  height: 1px;
  left: 0;
  bottom: -20px;
}

.btn-footer {
  color: grey;
  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px;
  line-height: 47px;
}

.btn-footer:hover {
  border-color: violet;
  color: violet;
  text-decoration: none;

}

.form-footer input[type="text"] {
  border: none;
  border-radius: 16px 0 0 16px;
  outline: none;
  padding-left: 10px;
}

::placeholder {
  font-size: 10px;
  padding-left: 10px;
  font-style: italic;
}

.form-footer input[type="button"] {
  border: none;
  background: #232323;
  margin-left: -5px;
  color: #fff;
  outline: none;
  border-radius: 0 16px 16px 0;
  padding: 2px 12px;
}

.social .fa {
  color: grey;
  font-size: 22px;
  padding: 10px 15px;
  background: #3c3c3c;
}

footer ul li {
  list-style: none;
  display: block;
}

footer ul {
  padding-left: 0;
}

footer ul li a {
  text-decoration: none;
  color: grey;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: none;
  color: #f5f5f5 !important;
}

.logo-part {
  border-right: 1px solid grey;
  height: 100%;
}

.btn-floating {
  border-radius: 50%;
  background-color: violet;
  border: none;
}

.btn-floating:hover {
  background-color: black;
  color: violet;
}

/*SUB-CARD*/
@import url('https://rsms.me/inter/inter-ui.css');

.sub-container {
  display: flex;
  justify-content: flex-end;
  font-family: 'Inter UI', sans-serif;
  align-items: flex-end;
}

.sub-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 150px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 250px;
  margin-right: 100px;
  margin-top: 10px;
}

.title {
  font-size: 20px;
  height: 29px;
  margin-bottom: 0;
  margin-top: 0;
}

.text {
  color: #667;
  font-size: 15px;
  height: 38px;
  margin: 5px 0 0;
}

.line {
  left: 0;
  position: absolute;
  width: 230px;
  margin-top: -20px;
}

.line path {
  fill: none;
  stroke: violet;
  stroke-width: 2;
  stroke-dasharray: 300 1903;
}

.sub-card.done .line path {
  stroke-dashoffset: -762;
  stroke-dasharray: 1095 1903;
  transition: stroke-dasharray 1500ms, stroke-dashoffset 0ms;
}

.form {
  transform-origin: 0 50%;
  transition: transform 500ms, opacity 500ms;
}

.sub-card.done .form {
  transform: translateY(-16px) scale(.8);
  opacity: 0;
}

.input {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  font-size: 20px;
  height: 25px;
  margin-top: 0;
  outline: none !important;
  position: relative;
  width: 230px;
}